body{
	font-family: monospace;
}

header {
	background-color: aqua;
	color: aliceblue;
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
	border-radius: 10px;
}

.input-section {
	display: flex;
	flex-direction: column;
}

